<!DOCTYPE html>
<html>
    <head>
        <title>Página inicial</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="..\static\css\style.css">
        <link rel="stylesheet" href="..\static\css\inicio.css">
    </head>
    <body>
        <header>
            <div id="title">
                <h1>Seja bem vindo, fulano.</h1>
            </div>
        </header>
            <div class="container-options">
                <div class="options option-box">
                    <h3>Pesquisa interna semanal</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed risus tempus, elementum dui nec, facilisis sem. </p>
                    <a href="#">Ver mais...</a>
                </div>
                <div class="options option-box">
                    <h3>Notas</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed risus tempus, elementum dui nec, facilisis sem. </p>
                    <a href="#">Ver mais...</a>
                </div>
                <div class="options option-box">
                    <h3>Feedbacks</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed risus tempus, elementum dui nec, facilisis sem. </p>
                    <a href="#">Ver mais...</a>
                </div>
                <div class="options option-box">
                    <h3>Reuniões 1:1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed risus tempus, elementum dui nec, facilisis sem. </p>
                    <a href="#">Ver mais...</a>
                </div>
                <div class="options option-box">
                    <h3>Avaliação de desempenho</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed risus tempus, elementum dui nec, facilisis sem. </p>
                    <a href="#">Ver mais...</a>
                </div>
                <div class="options option-box">
                    <h3>Termômetro emocional</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed risus tempus, elementum dui nec, facilisis sem. </p>
                    <a href="#">Ver mais...</a>
                </div>
            </div>
            
    </body>
</html>
