{% extends "base.html" %}

{% block content %} 

  <link rel="stylesheet" type="text/css" href="../css/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />


  <body>
    <img class="wave" src="{{url_for('static', filename='img/onda.png')}}"/>
    <div class="container">
      <div class="img">
        <img src="{{url_for('static', filename='img/ideas.svg')}}"/>
      </div>
      <div class="form-content">
        <form method="POST">
          <img class="avatar" src="{{url_for('static', filename='img/avatar.png')}}"/>
          <h3>Login</h3>
        
          <div class="input-div one">
              <div class="i">
                <i class="fas fa-user"></i>
            </div>
            <div class="div">
                <h5>Email</h5>
                <input
                  type="email"
                  class="input"
                  id="email"
                  name="email"
                  placeholder="Digite seu email"
                />
            </div>
          </div>
        
          <div class="input-div pass">
            <div class="i"> 
                <i class="fas fa-lock"></i>
            </div>
            <div class="div">
                <h5>Senha</h5>
                <input
                  type="password"
                  class="input"
                  id="password"
                  name="password"
                  placeholder="Digite sua senha"
                />
            </div>
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
      </div>
    </div>
    <script src="../static/login.js"></script>
  </body>

{% endblock %}
