<!DOCTYPE html>
<html>
    <head>
        <title>Questionário</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="..\css\style.css">
    </head>
    <body>
        <div class="home-box custom-box">
            <h3>Instruções:</h3>
            <p>Número total de questões: <span class="total-question"></span></p>
            <button type="button" class="btn" onclick="startQuiz()">Começar questionário</button>
        </div>
        <div class="quiz-box custom-box hide">
            <div class="question-number">
                
            </div>
            <div class="question-text">
                
            </div>
            <div class="option-container">
                
            </div>
            <div class="next-question-btn">
                <button type="button" class="btn" onclick="next()">Próximo</button>
            </div>
            <div class="answers-indicator">
                
            </div>
        </div>
        <!------Resultado do questionario ----->
        <div class="result-box custom-box hide">
            <h1>Resultado</h1>
            <table>
                <tr>
                    <td>Total</td>
                    <td><span class="total-question"></span></td>
                </tr>
                <tr>
                    <td>Tentativa</td>
                    <td><span class="total-attempt"></span></td>
                </tr>
                <tr>
                    <td>Corretas</td>
                    <td><span class="total-correct"></span></td>
                </tr>
                <tr>
                    <td>Erradas</td>
                    <td><span class="total-wrong"></span></td>
                </tr>
                <tr>
                    <td>Porcentagem</td>
                    <td><span class="percentage"></span></td>
                </tr>
                <tr>
                    <td>Seu Score total</td>
                    <td><span class="total-score"></span></td>
                </tr>                
            </table>
            <button type="button" class="btn" onclick="tryAgainQuiz()">Tentar de novo</button>
            <button type="button" class="btn" onclick="goToHome()">Voltar para página inicial</button>
        </div>

    <script src="../static/app.js"></script>
    <script src="../static/question.js"></script>
    </body>
</html>
