{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 
{% block content %}

<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />


<body>
  <img class="wave" src="{{url_for('static', filename='img/onda.png')}}"/>
    <div class="container">
      <div class="img">
        <img src="{{url_for('static', filename='img/signup.svg')}}"/>
      </div>
    <div class="form-content">
      <form method="POST">
        <img class="avatar" src="{{url_for('static', filename='img/avatar.png')}}"/>
        <h2 class="title">Cadastro</h2>

        <div class="form-div">
          <h5 class="title-input">Email</h5>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Digite seu email"
          />
        </div>

        <div class="form-div">
          <h5 class="title-input">Primeiro nome</h5>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Digite seu primeiro nome"
          />
        </div>

        <div class="form-div">
          <h5 class="title-input">Senha</h5>
          <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Digite sua senha"
          />
        </div>

        <div class="form-div">
          <h5 class="title-input">Senha (Confirme)</h5>
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirme sua senha"
          />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
  </div>
  <script src="../static/login.js"></script>
</body>
{% endblock %}
