<!DOCTYPE html>
<html>
<!--{% extends 'student/studentbase.html' %}-->
<!--{% load widget_tweaks %}-->
<!--{% block content %}-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="stylesheet" href="..\static\css\student.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<br><br>

<body style="background-color:#95ddc63a">
<!--Inicio content-->  
<div class="content">
  <h3>Como está se sentindo?</h3>
  <div class="box">
    <!--Humor-->
      <a href="">
        <img src="../static/img/chore.png" alt="Humor" class="img-humor">
        <h4>Péssimo</h4>
      </a>
      <a href="">
        <img src="../static/img/doente.png" alt="Humor" class="img-humor">
        <h4>Mal</h4>
      </a>
      <a href="">
        <img src="../static/img/entediado.png" alt="Humor" class="img-humor">
        <h4>Razoável</h4>
      </a>
      <a href="">
        <img src="../static/img/feliz.png" alt="Humor" class="img-humor">
        <h4>Bem</h4>
      </a>
      <a href="">
        <img src="../static/img/pensamento.png" alt="Humor" class="img-humor">
        <h4>Muito bem</h4>
      </a>
  </div>
  <!--Atividades-->
    <h3>O que você tem feito?</h3>
    <div class="box-atividades">
      <h3 class="title-activities">Sono</h3>
        <div style="display:flex;">
          <a href="#">
            <img src="../static/img/chore.png" alt="Humor" class="img-humor">
          </a>
          <a href="">
            <img src="../static/img/doente.png" alt="Humor" class="img-humor">
          </a>
        </div>
    </div>
</div>


   


<br><br><br><br><br><br><br><br><br><br>

<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

</body>
<!--{% endblock content %}-->
</html>